# üóÇÔ∏è Pandas ‚Äì Data Analysis Library üêº

In [1]:
# üîπ Quick Tips:
# - DataFrame ‚Üí main Pandas object
# - head(), info(), describe() for EDA
# - iloc ‚Üí index-based, loc ‚Üí label-based
# - groupby() for aggregation
# - read_csv() / to_csv() for files

In [3]:
import pandas as pd

# 1Ô∏è‚É£ Create a DataFrame üìä
data = {
    "Name": ["Alice", "Bob", "Emma"],
    "Age": [25, 30, 22],
    "City": ["Paris", "London", "New York"]
}
df = pd.DataFrame(data)
print(df)

    Name  Age      City
0  Alice   25     Paris
1    Bob   30    London
2   Emma   22  New York

In [4]:
# 2Ô∏è‚É£ Basic Data Exploration üîç
print(df.head())        # First 5 rows
print(df.tail())        # Last 5 rows
print(df.shape)         # Rows, Columns
print(df.info())        # Data info
print(df.describe())    # Statistical summary

    Name  Age      City
0  Alice   25     Paris
1    Bob   30    London
2   Emma   22  New York
    Name  Age      City
0  Alice   25     Paris
1    Bob   30    London
2   Emma   22  New York
(3, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   City    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes
None
             Age
count   3.000000
mean   25.666667
std     4.041452
min    22.000000
25%    23.500000
50%    25.000000
75%    27.500000
max    30.000000

In [5]:
# 3Ô∏è‚É£ Select Data üéØ
print(df["Name"])               # Select column
print(df[["Name", "City"]])     # Multiple columns
print(df.iloc[0])               # Select by index
print(df.loc[0, "Age"])         # Select by label

0    Alice
1      Bob
2     Emma
Name: Name, dtype: object
    Name      City
0  Alice     Paris
1    Bob    London
2   Emma  New York
Name    Alice
Age        25
City    Paris
Name: 0, dtype: object
25

In [6]:
# 4Ô∏è‚É£ Filtering Data üßπ
print(df[df["Age"] > 25])

  Name  Age    City
1  Bob   30  London

In [7]:
# 5Ô∏è‚É£ Add & Modify Columns ‚ûï
df["Salary"] = [50000, 60000, 55000]
df["Age"] = df["Age"] + 1
print(df)

    Name  Age      City  Salary
0  Alice   26     Paris   50000
1    Bob   31    London   60000
2   Emma   23  New York   55000

In [8]:
# 6Ô∏è‚É£ Handle Missing Values üöß
df.loc[1, "City"] = None
print(df.isnull())
print(df.fillna("Unknown"))

    Name    Age   City  Salary
0  False  False  False   False
1  False  False   True   False
2  False  False  False   False
    Name  Age      City  Salary
0  Alice   26     Paris   50000
1    Bob   31   Unknown   60000
2   Emma   23  New York   55000

In [9]:
# 7Ô∏è‚É£ Sort & Group üìà
print(df.sort_values("Age"))
print(df.groupby("City")["Salary"].mean())

    Name  Age      City  Salary
2   Emma   23  New York   55000
0  Alice   26     Paris   50000
1    Bob   31      None   60000
City
New York    55000.0
Paris       50000.0
Name: Salary, dtype: float64

In [ ]:
# 8Ô∏è‚É£ Read & Write Files üìÇ
# df = pd.read_csv("data.csv")
# df.to_csv("output.csv", index=False)