In [5]:
import pandas as pd

# Large dataset: Netflix titles (~8800 rows)
url = "https://raw.githubusercontent.com/laxmimerit/All-CSV-ML-Data-Files-Download/master/netflix_titles.csv"

# Load dataset
df = pd.read_csv(url)

# Quick preview
print(df.head(5))

    show_id     type                                    title  \
0  81145628    Movie  Norm of the North: King Sized Adventure
1  80117401    Movie               Jandino: Whatever it Takes
2  70234439  TV Show                       Transformers Prime
3  80058654  TV Show         Transformers: Robots in Disguise
4  80125979    Movie                             #realityhigh

                   director  \
0  Richard Finn, Tim Maltby
1                       NaN
2                       NaN
3                       NaN
4          Fernando Lebrija

                                                cast  \
0  Alan Marriott, Andrew Toth, Brian Dobson, Cole...
1                                   Jandino Asporaat
2  Peter Cullen, Sumalee Montano, Frank Welker, J...
3  Will Friedle, Darren Criss, Constance Zimmer, ...
4  Nesta Cooper, Kate Walsh, John Michael Higgins...

                                    country         date_added  release_year  \
0  United States, India, South Korea, China  September 9, 2019          2019
1                            United Kingdom  September 9, 2016          2016
2                             United States  September 8, 2018          2013
3                             United States  September 8, 2018          2016
4                             United States  September 8, 2017          2017

     rating  duration                           listed_in  \
0     TV-PG    90 min  Children & Family Movies, Comedies
1     TV-MA    94 min                     Stand-Up Comedy
2  TV-Y7-FV  1 Season                            Kids' TV
3     TV-Y7  1 Season                            Kids' TV
4     TV-14    99 min                            Comedies

                                         description
0  Before planning an awesome wedding for his gra...
1  Jandino Asporaat riffs on the challenges of ra...
2  With the help of three human allies, the Autob...
3  When a prison ship crash unleashes hundreds of...
4  When nerdy high schooler Dani finally attracts...

In [15]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6234 entries, 0 to 6233
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       6234 non-null   int64
 1   type          6234 non-null   object
 2   title         6234 non-null   object
 3   director      6234 non-null   object
 4   cast          6234 non-null   object
 5   country       6234 non-null   object
 6   date_added    6234 non-null   object
 7   release_year  6234 non-null   int64
 8   rating        6234 non-null   object
 9   duration      6234 non-null   object
 10  listed_in     6234 non-null   object
 11  description   6234 non-null   object
dtypes: int64(2), object(10)
memory usage: 584.6+ KB
None

In [16]:
print(df.dtypes)

show_id          int64
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [18]:
df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,Unknown,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,Unknown,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,Unknown,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

In [19]:
df.tail(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
6229,80000063,TV Show,Red vs. Blue,Unknown,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,Unknown,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil..."
6230,70286564,TV Show,Maron,Unknown,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,Unknown,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews..."
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,Unknown,Not Specified,Unknown,Unknown,2016,Not Rated,60 min,Movies,Nursery rhymes and original music for children...
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,Unknown,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,Unknown,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ..."
6233,70153404,TV Show,Friends,Unknown,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,Unknown,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...

In [20]:
df.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
3974,80152155,Movie,La Coppia dei Campioni,Giulio Base,"Massimo Boldi, Massimiliano Tortora, Anna Mari...",Italy,"February 15, 2017",2016,TV-MA,88 min,"Comedies, International Movies","After winning a shared trip to a soccer match,..."
1747,81123050,Movie,Hamid,Aijaz Khan,"Talha Arshad Reshi, Rasika Dugal, Vikas Kumar,...",India,"May 15, 2019",2018,TV-14,108 min,"Dramas, Independent Movies, International Movies","Wanting his missing father to come home, a Kas..."
2641,81027195,TV Show,Unit 42,Unknown,"Patrick Ridremont, Constance Gay, Tom Audenaer...",Belgium,"June 15, 2019",2017,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Dramas",A widowed cop tapped to lead a special cybercr...
2797,80076160,Movie,Cristina,Michèle Ohayon,Not Specified,United States,"July 4, 2019",2016,NR,40 min,Documentaries,"In this short documentary, 37-year-old Cristin..."
4408,80126996,Movie,The First Lady,Omoni Oboli,"Omoni Oboli, Alexx Ekubo, Chinedu Ikedieze, Jo...",Unknown,"December 20, 2019",2015,TV-MA,107 min,"Dramas, International Movies","Dreaming of a better life, an imperiled prosti..."

# ⭐: Missing values check & Cleaning

In [23]:
import numpy as np
new_df = df.replace("NaN", np.nan)
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6234 entries, 0 to 6233
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       6234 non-null   int64
 1   type          6234 non-null   object
 2   title         6234 non-null   object
 3   director      6234 non-null   object
 4   cast          6234 non-null   object
 5   country       6234 non-null   object
 6   date_added    6234 non-null   object
 7   release_year  6234 non-null   int64
 8   rating        6234 non-null   object
 9   duration      6234 non-null   object
 10  listed_in     6234 non-null   object
 11  description   6234 non-null   object
dtypes: int64(2), object(10)
memory usage: 584.6+ KB

In [6]:
df.isnull().sum()

show_id            0
type               0
title              0
director        1969
cast             570
country          476
date_added        11
release_year       0
rating            10
duration           0
listed_in          0
description        0
dtype: int64

In [13]:
print(df[["director", "cast", "country", "date_added", "rating"]].isnull().sum())
print(df[["director", "cast", "country", "date_added", "rating"]].shape)

director      0
cast          0
country       0
date_added    0
rating        0
dtype: int64
(6234, 5)

In [12]:
df["director"].fillna("Unknown", inplace=True)
df["cast"].fillna("Not Specified", inplace=True)
df["country"].fillna("Unknown", inplace=True)
df["date_added"].fillna("Unknown", inplace=True)
df["rating"].fillna("Not Rated", inplace=True)

C:\Users\iamus\AppData\Local\Temp\ipykernel_9276\401450329.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["cast"].fillna("Not Specified", inplace=True)
C:\Users\iamus\AppData\Local\Temp\ipykernel_9276\401450329.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["country"].fillna("Unknown", inplace=True)
C:\Users\iamus\AppData\Local\Temp\ipykernel_9276\401450329.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["date_added"].fillna("Unknown", inplace=True)
C:\Users\iamus\AppData\Local\Temp\ipykernel_9276\401450329.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["rating"].fillna("Not Rated", inplace=True)

In [25]:
# Categorical columns (text/object type)
categorical_cols = df.select_dtypes(include='object').columns
print("Categorical columns:\n", categorical_cols)

# Numerical columns (int/float type)
numerical_cols = df.select_dtypes(include=['int64', 'float64']).columns
print("Numerical columns:\n", numerical_cols)

Categorical columns:
 Index(['type', 'title', 'director', 'cast', 'country', 'date_added', 'rating',
       'duration', 'listed_in', 'description'],
      dtype='object')
Numerical columns:
 Index(['show_id', 'release_year'], dtype='object')

In [26]:
print(df[numerical_cols].mean(axis=1, skipna=False))

0       40573823.5
1       40059708.5
2       35118226.0
3       40030335.0
4       40063998.0
           ...
6229    40001039.0
6230    35144290.0
6231    40059012.0
6232    35141517.5
6233    35077703.5
Length: 6234, dtype: float64

In [29]:
# Example: Most common rating
print(df['rating'].value_counts(5))

# Most frequent director
print(df['director'].value_counts().head(5))

rating
TV-MA        0.325152
TV-14        0.272377
TV-PG        0.112448
R            0.081489
PG-13        0.045877
NR           0.034970
PG           0.029516
TV-Y7        0.027109
TV-G         0.023901
TV-Y         0.022939
TV-Y7-FV     0.015239
G            0.005935
Not Rated    0.001604
UR           0.001123
NC-17        0.000321
Name: proportion, dtype: float64
director
Unknown                   1969
Raúl Campos, Jan Suter      18
Marcus Raboy                14
Jay Karas                   13
Jay Chapman                 12
Name: count, dtype: int64

# ⭐: Map / Encode Categorical Columns

In [30]:
# Map "Movie" → 0, "TV Show" → 1
df['type_mapped'] = df['type'].map({'Movie': 0,
                                    'TV Show': 1})

df[['type', 'type_mapped']].head()

      type  type_mapped
0    Movie            0
1    Movie            0
2  TV Show            1
3  TV Show            1
4    Movie            0

# ⭐:filtered

In [33]:
df_filtered = df[['director', 'country', 'rating']]
print(df_filtered.head())

                   director                                   country  \
0  Richard Finn, Tim Maltby  United States, India, South Korea, China
1                   Unknown                            United Kingdom
2                   Unknown                             United States
3                   Unknown                             United States
4          Fernando Lebrija                             United States

     rating
0     TV-PG
1     TV-MA
2  TV-Y7-FV
3     TV-Y7
4     TV-14

# ⭐:Drop

In [34]:
df_clean = df.drop(columns=['show_id', 'description', 'title'])
print(df_clean.head())
print("Shape after drop:", df_clean.shape)

      type                  director  \
0    Movie  Richard Finn, Tim Maltby
1    Movie                   Unknown
2  TV Show                   Unknown
3  TV Show                   Unknown
4    Movie          Fernando Lebrija

                                                cast  \
0  Alan Marriott, Andrew Toth, Brian Dobson, Cole...
1                                   Jandino Asporaat
2  Peter Cullen, Sumalee Montano, Frank Welker, J...
3  Will Friedle, Darren Criss, Constance Zimmer, ...
4  Nesta Cooper, Kate Walsh, John Michael Higgins...

                                    country         date_added  release_year  \
0  United States, India, South Korea, China  September 9, 2019          2019
1                            United Kingdom  September 9, 2016          2016
2                             United States  September 8, 2018          2013
3                             United States  September 8, 2018          2016
4                             United States  September 8, 2017          2017

     rating  duration                           listed_in  type_mapped
0     TV-PG    90 min  Children & Family Movies, Comedies            0
1     TV-MA    94 min                     Stand-Up Comedy            0
2  TV-Y7-FV  1 Season                            Kids' TV            1
3     TV-Y7  1 Season                            Kids' TV            1
4     TV-14    99 min                            Comedies            0
Shape after drop: (6234, 10)

# ⭐: Series

In [35]:
pd.Series(df['rating'].unique()).sort_values()

11            G
14        NC-17
7            NR
12    Not Rated
10           PG
8         PG-13
5             R
4         TV-14
9          TV-G
1         TV-MA
0         TV-PG
6          TV-Y
3         TV-Y7
2      TV-Y7-FV
13           UR
dtype: object

# ⭐: Import sqlite3

In [40]:
import sqlite3
import pandas as pd

# Create an in-memory database
conn = sqlite3.connect(':memory:')

# Create a sample table
conn.execute("""
CREATE TABLE movies (
    id INTEGER,
    title TEXT,
    director TEXT,
    year INTEGER
)
""")

# Insert sample data
conn.executemany("INSERT INTO movies VALUES (?, ?, ?, ?)", [
    (1, "Inception", "Christopher Nolan", 2010),
    (2, "Titanic", "James Cameron", 1997),
    (3, "The Matrix", "Lana Wachowski", 1999)
])

# Query the table into a DataFrame
data = pd.read_sql_query("SELECT * FROM movies", conn)
print(data)

   id       title           director  year
0   1   Inception  Christopher Nolan  2010
1   2     Titanic      James Cameron  1997
2   3  The Matrix     Lana Wachowski  1999

In [43]:
df = data
print(df)

   id       title           director  year
0   1   Inception  Christopher Nolan  2010
1   2     Titanic      James Cameron  1997
2   3  The Matrix     Lana Wachowski  1999

In [ ]:
df